<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<div class="navbar navbar-fixed-top" role="navigation">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<ul class="social">
		<!-- 	<li><a href=""><i class="icon-facebook"></i></a>
			</li>
			<li><a href=""><i class="icon-twitter"></i></a>
			</li>
			<li><a href=""><i class="icon-linkedin"></i></a>
			</li>
			<li><a href=""><i class="icon-foursquare"></i></a>
			</li>
			<li><a href=""><i class="icon-gplus"></i></a>
			</li>
			<li><a href=""><i class="icon-pinterest"></i></a>
			</li>
			<li><a href=""><i class="icon-yelp"></i></a>
			</li>
			<li><a href=""><i class="icon-instagram"></i></a>
			</li>
			<li><a href=""><i class="icon-youtube"></i></a>
			</li>
			<li><a href=""><i class="icon-vimeo"></i></a>
			</li> -->
			<li><a href="#location" class="email">Contact Us</a></li>
		</ul>

		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#intro" id="logo">
					<img src="/assests/logo-small.png" class="img-responsive">
				</a>
			</div>
			<div class="navbar-collapse collapse" style="height: 1px;">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#welcome">Welcome</a>
					</li>
					<li><a href="#services" data-target="#services">Services</a>
					</li>
					<li><a href="#stylists">Stylists</a>
					</li>
					<li><a href="#hours">Hours</a>
					</li>
					<li><a href="#location">Location</a>
					</li>
					<!-- <li><a href="#blog">Blog</a>
					</li> -->
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>

		<div class="cta-top">
			<a href="tel:7163574135"><i class="icon-phone"></i></a>
			<p class="text">Book your appointment today at</p>
			<p class="phone">020-41212425</p>
		</div>

	</div>

	<div class="cta">
		<a href="tel:7163574135" class="wow shake"><i class="icon-phone"></i></a>
		<p class="text">Book your appointment today at</p>
		<a href="tel:020-41212425" class="phone">020-41212425</a>
	</div>

	<div class="slider-wrapper" id="intro">
		<div class="background-fade" id="step1"></div>
		
		<div class="logo" id="step2">
			<div class="Center-Container is-Table">
				<div class="Table-Cell">
					<div class="Center-Block">
						<img src="assests/marketing/logo-big.png">
					</div>
				</div>
			</div>
		</div>
		
		<div class="welcome" id="step3"><p>Welcome to Our Beauty Salon</p></div>
	</div>

	<div class="container" id="top">

		<div class="row" id="welcome">

			<div class="col-sm-12">
				<h2>Pamper Yourself at Needa</h2>
				<h3>Welcome to Needa</h3>
				<p>We opened our doors one years ago and have seen many patrons leave happy and come back for our outstanding service. In fact, walking into our salon is like coming home again.</p>
				<p>At Needa, we offer high-quality styling services for everyone. We believe that no matter what your age, you can look and feel stylish. All our stylists are licensed professionals who regularly take courses in the latest trends in hair design.</p>
			</div>

		</div>

		<div class="row" id="services">
			<div class="col-sm-12">
				<h2>Our Services</h2>
				<p>Our full-service salon offers a verity of beauty services to make you look and feel great. Prices can vary depending on hair length, extent of work, time, special package deals and more.</p>
				<div class="service-item" id="service-1">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Hair<br/>Cuts</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table two-cols">
							<tbody>
								<tr>
									<td>Women’s Haircut Only</td>
									<td>$33</td>
									<td>$38*</td>
								</tr>
								<tr>
									<td>Haircut withStyle</td>
									<td>$50</td>
									<td>$55*</td>
								</tr>
								<tr>
									<td>Men’s Cut</td>
									<td>$25</td>
									<td>$28*</td>
								</tr>
								<tr>
									<td>Child’s Cut (12 & under)</td>
									<td>$32</td>
									<td>$34*</td>
								</tr>
								<tr>
									<td>Long Hair</td>
									<td>+$15</td>
									<td>+$25*</td>
								</tr>
								<tr>
									<td>Extensive Blowdrying</td>
									<td>+$25*</td>
									<td>$38*</td>
								</tr>
								<tr>
									<td>Special Occasion Styles</td>
									<td>$65*</td>
									<td>$38*</td>
								</tr>
								<tr>
									<td>Sunday & Holiday</td>
									<td>$75</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<p>* Upon consultation</p>
					</div>
				</div>

				<div class="service-item" id="service-2">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Hair<br/>Color<br/>&<br/>Technical<br/>Service</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table two-cols">
							<tbody>
								<tr>
									<td>Color / Cut / Style</td>
									<td>$90</td>
									<td>$95*</td>
								</tr>
								<tr>
									<td>Highlight / Cut / Style</td>
									<td>$135</td>
									<td>$145*</td>
								</tr>
								<tr>
									<td>Perm / Style</td>
									<td>$85</td>
									<td>$90*</td>
								</tr>
								<tr>
									<td>Color / Cut / & Highlight</td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<p>* Upon consultation</p>
					</div>
				</div>

				<div class="service-item" id="service-3">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Nail<br/>Service</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table">
							<tbody>
								<tr>
									<td>Manicure</td>
									<td>$90</td>
								</tr>
								<tr>
									<td>French</td>
									<td>+$5</td>
								</tr>
								<tr>
									<td>Pedicure</td>
									<td>$45</td>
								</tr>
								<tr>
									<td>Medi Pedi</td>
									<td>$68</td>
								</tr>
								<tr>
									<td>Express (20 min)</td>
									<td>$25</td>
								</tr>
								<tr>
									<td>Therapeutic Pedi</td>
									<td>$55</td>
								</tr>
								<tr>
									<td>Gel & Shellac</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Make-up Application</td>
									<td>$45</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="service-item" id="service-4">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Waxing</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table">
							<tbody>
								<tr>
									<td>Eyebrow</td>
									<td>$18</td>
								</tr>
								<tr>
									<td>Lip</td>
									<td>$13</td>
								</tr>
								<tr>
									<td>Chin</td>
									<td>$12</td>
								</tr>
								<tr>
									<td>Bikini</td>
									<td>$35</td>
								</tr>
								<tr>
									<td>Brazilian</td>
									<td>$85</td>
								</tr>
								<tr>
									<td>Leg Half</td>
									<td>$45</td>
								</tr>
								<tr>
									<td>Leg Full</td>
									<td>$65</td>
								</tr>
								<tr>
									<td>Arms</td>
									<td>$30</td>
								</tr>
								<tr>
									<td>Under Arm</td>
									<td>$25</td>
								</tr>
								<tr>
									<td>Men’s Back</td>
									<td>$40</td>
								</tr>
								<tr>
									<td>Chest</td>
									<td>$40</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="service-item" id="service-5">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Massage</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table">
							<tbody>
								<tr>
									<td>Deep Tissue (90 min)</td>
									<td>$120</td>
								</tr>
								<tr>
									<td>Reflexology (90 min)</td>
									<td>$125</td>
								</tr>
								<tr>
									<td>Traditional Massage (60 min)</td>
									<td>$70</td>
								</tr>
								<tr>
									<td>Traditional Massage (30 min)</td>
									<td>$45</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="service-item" id="service-6">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Facials</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table">
							<tbody>
								<tr>
									<td>Grape Stem Cell</td>
									<td>$90</td>
								</tr>
								<tr>
									<td>Deep Cleansing</td>
									<td>$75</td>
								</tr>
								<tr>
									<td>AHA Peeling Treatment</td>
									<td>$80</td>
								</tr>
								<tr>
									<td>Rosaces</td>
									<td>$75</td>
								</tr>
								<tr>
									<td>Vitalizing Skin</td>
									<td>$75</td>
								</tr>
								<tr>
									<td>Oxygenating - Lightening</td>
									<td>$80</td>
								</tr>
								<tr>
									<td>Boosting Before an Event
										<br/>Lightening & Regenerating (30 min)</td>
									<td>$50</td>
								</tr>
								<tr>
									<td>Firming Neck & Decollete Treatment</td>
									<td>$80</td>
								</tr>
								<tr>
									<td>Gentleman’s Facial</td>
									<td>$70</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="service-item" id="service-7">
					<div class="wrap-image">
						<div class="service wow fadeIn">
							<div class="Center-Container is-Table">
								<div class="Table-Cell">
									<div class="Center-Block">
										<h4>Body<br/>Treatments</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table-prices">
						<table class="table">
							<tbody>
								<tr>
									<td>Purée Salt Glow</td>
									<td>$80</td>
								</tr>
								<tr>
									<td>Pumpkin Detox Body Treatment</td>
									<td>$120</td>
								</tr>
								<tr>
									<td>Tüz & Jég (Fire and Ice)
										<br/>Cellullite Body Treatment</td>
									<td>$120</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="cta-content">
					<a href="tel:7163574135" class="wow shake"><i class="icon-phone"></i></a>
					<p>Call us today at <strong>020-41212425</strong> for pricing details tailored to your desires.</p>
				</div>


			</div>
		</div>
		<div class="row" id="stylists">
			<div class="col-sm-12">
				<h2>Stylists</h2>

				<div class="stylist wow rotateIn" style="background-image:url(/assests/by_default2.jpg);background-size:cover;">
					<a href="profile.html">
						<div class="Center-Container is-Table">
							<div class="Table-Cell">
								<div class="Center-Block">
									<h4>Joselin<br/>Rosae</h4>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="stylist wow rotateIn" style="background-image:url(/assests/by_default2.jpg);background-size:cover;">
					<a href="profile.html">
						<div class="Center-Container is-Table">
							<div class="Table-Cell">
								<div class="Center-Block">
									<h4>Mauro<br/>Silva</h4>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="stylist wow rotateIn" style="background-image:url(/assests/by_default2.jpg);background-size:cover;">
					<a href="profile.html">
						<div class="Center-Container is-Table">
							<div class="Table-Cell">
								<div class="Center-Block">
									<h4>Brian<br/>Malpeck</h4>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="stylist wow rotateIn" style="background-image:url(/assests/by_default2.jpg);background-size:cover;">
					<a href="profile.html">
						<div class="Center-Container is-Table">
							<div class="Table-Cell">
								<div class="Center-Block">
									<h4>Sarah<br/>Lynn</h4>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="stylist wow rotateIn" style="background-image:url(/assests/by_default2.jpg);background-size:cover;">
					<a href="profile.html">
						<div class="Center-Container is-Table">
							<div class="Table-Cell">
								<div class="Center-Block">
									<h4>Jessica<br/>Smith</h4>
								</div>
							</div>
						</div>
					</a>
				</div>

				<div class="stylist wow rotateIn" style="background-image:url(/assests/by_default2.jpg);background-size:cover;">
					<a href="profile.html">
						<div class="Center-Container is-Table">
							<div class="Table-Cell">
								<div class="Center-Block">
									<h4>Louis<br/>Becker</h4>
								</div>
							</div>
						</div>
					</a>
				</div>


			</div>
		</div>


		<div class="row" id="hours">
			<div class="col-sm-12">
				<h2>Hours</h2>
				<ul>
					<li class="closed wow bounceIn">
						<div class="day">SUN</div>CLOSED</li>
					<li class="wow bounceIn">
						<div class="day">MON</div>09:00 - 05:00</li>
					<li class="wow bounceIn">
						<div class="day">TUE</div>09:00 - 05:00</li>
					<li class="wow bounceIn">
						<div class="day">WED</div>09:00 - 05:00</li>
					<li class="wow bounceIn">
						<div class="day">THU</div>09:00 - 05:00</li>
					<li class="different wow bounceIn">
						<div class="day">FRI</div>09:00 - 05:30</li>
					<li class="different wow bounceIn">
						<div class="day">SAT</div>10:00 - 05:00</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="wrapper-location">
		<div class="container">
			<div class="row" id="location">
				<div class="col-sm-12">
					<h2>Location and Contact</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<form class="form-horizontal" role="form" method="post" data-validate="parsley">

						<div class="form-group">
							<label for="message" class="col-sm-6 control-label">Message:<span class="glyphicon glyphicon-asterisk required"></span>
							</label>
							<div class="col-sm-6">
								<textarea class="form-control parsley-validated" id="remarks" rows="3" name="fields[message]" data-required="true"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-6 control-label">First Name:<span class="glyphicon glyphicon-asterisk required"></span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control parsley-validated" id="first_name" placeholder="" name="fields[first_name]" data-required="true">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">Last Name:<span class="glyphicon glyphicon-asterisk required"></span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control parsley-validated" id="last_name" placeholder="" name="fields[last_name]" data-required="true">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">E-mail:<span class="glyphicon glyphicon-asterisk required"></span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control parsley-validated" id="email" placeholder="" name="fields[email]" data-required="true">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">Phone</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="phone" placeholder="" name="fields[phone]">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">How you prefer to be contacted</label>
							<div class="col-sm-6">
								<select class="form-control" name="fields[contact]">
									<option selected="selected">E-mail</option>
									<option>Phone</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-6 col-sm-6">
								<button type="submit" class="btn" name="action" value="signin">Submit</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-4">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.379714299865!2d73.8970345!3d18.556912200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c118929ed987%3A0x480445bfd8a9a632!2sRahim+Shaikh+Rd%2C+Yerawada%2C+Pune%2C+Maharashtra+411006!5e0!3m2!1sen!2sin!4v1405599803689" width="100%" height="450" frameborder="0" style="border:0"></iframe>
				</div>
				<div class="col-sm-2">
					<div class="contact">
						<h3>Needa</h3>
						<h4>Salon & Spa</h4>
						<p>
							Hermes Heritage, Pune 411006
							<br/>
							<strong>020-41212425</strong>
						</p>
						<i class="icon-services"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="blog">
		<div class="row">
			<div class="col-sm-12">
				<h2>From Our Blog</h2>
			</div>
		</div>
		<div class="row">
			<div class="post">
				<div class="col-sm-4">
					<div class="thumb">
						<div class="data">
							<div class="month">JUL</div>
							<div class="day">
								<p>03</p>
							</div>
							<div class="year">2014</div>
						</div>
						<div class="img-post">
							<img src="/assests/by_default2.jpg" class="img-responsive img-circle">
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<h1 class="title-post"><a href="single-post.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h1>
					<p class="date">Posted on: May 30, 2014 by <a href="#">Lorem Ipsum</a>
					</p>

					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
					<a href="single-post.html" class="read-more">Read more</a>
				</div>

			</div>
		</div>
	</div>
	</div>
	<!-- <div class="wrap">
		<a class="wow swing" href="blog.html">Visit Our Blog</a>
	</div> -->


	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function (b, o, i, l, e, r) {
			b.GoogleAnalyticsObject = l;
			b[l] || (b[l] =
				function () {
					(b[l].q = b[l].q || []).push(arguments)
				});
			b[l].l = +new Date;
			e = o.createElement(i);
			r = o.getElementsByTagName(i)[0];
			e.src = '//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e, r)
		}(window, document, 'script', 'ga'));
		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>
