
.icon-vimeo:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-hr:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-yelp:before { content: '\e808'; } /* '' */
.icon-foursquare:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-services:before { content: '\e80c'; } /* '' */
.icon-pinterest:before { content: '\e80d'; } /* '' */