<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">eSpa</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link"><i class="icon-off" style="color:white"></i>Logout</a>
            </p>
            <ul class="nav pull-right">
              <li><a href="#">Settings</a></li>
            </ul>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/admin/staffs">Staff</a></li>
              <li><a href="/admin/rate_cards">RateCard</a></li>
              <li><a href="/admin/inventories">Inventory</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>